<div class="wrapper">
  <mat-card class="select-game-card mat-elevation-z1">
    <mat-form-field>
      <mat-label>Select a game:</mat-label>
      <mat-select [value]="selectedGameId" (selectionChange)="onGameSelect($event)">
        <mat-option [value]="game.value" *ngFor="let game of gameList">
          {{game.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Play Mode:</mat-label>
        <mat-select [value]="selectedPlayMode" (selectionChange)="onModeSelect($event)">
          <mat-option [value]="mode.value" *ngFor="let mode of modeList">
            {{mode.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  </mat-card>

  <config-editor (start)="onConfigSet($event)"></config-editor>

</div>
